.container-fluid.section{
    background-image: url('/img/coffee.jpg');
    min-height: 80vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.container-fluid.section > *{
    position: relative;
    z-index: 3;
}
.container-fluid.section::before{
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-fluid.section::after {
    content: '';
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(167, 207, 223, 0) 50%, rgba(13, 66, 110, 0.5) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.blue-button{
    background-color: #0D426E;
    color: white;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
}

.blue-button:hover{
    background-color: #002c4f;
    
}


.pengantar-singkat{
    min-height: 300px;
}

#navbar-special {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: white;
    transform: translateY(-1000%);
    transition: transform 0.5s ease-in-out;
}

#navbar-special.show {
    transform: translateY(0);
}

.servicesHome{
    min-height: 60vh;
    background-color: #092c49;
}

.containerku{
    border-radius: 5px;
    background-color: #0D426E;
    padding: 1rem;
    margin-top: 1rem;
    height: 350px;
}


.infinite-scroll-section{
    min-height: 40vh;
}

.wrapper-infinite-scroll{
    min-width: 100vw;
    margin-inline: auto;
    position: relative;
    height: 350px;
    margin-top: 4rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.95) 20%,
        rgba(0, 0, 0, 0.95) 80%,
        rgba(0, 0, 0, 0) 100%
    );
}

.item{
    width: 450px;
    height: 350px;
    background-color:#0D426E;
    border-radius: 10px;
    position: absolute;
    left: max(calc(450px * 5) , 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1{
    animation-delay: calc(30s / 5 * (5 - 1) * -1);
}

.item2{
    animation-delay: calc(30s / 5 * (5 - 2) * -1);
}

.item3{
    animation-delay: calc(30s / 5 * (5 - 3) * -1);
}

.item4{
    animation-delay: calc(30s / 5 * (5 - 4) * -1);
}

.item5{
    animation-delay: calc(30s / 5 * (5 - 5) * -1);
}

@keyframes scrollLeft{
    to{
        left: -450px;
    }
}

.item1, .item2, .item3, .item4, .item5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.green-coffee-beans-arabica{
    background-image: url('/img/green-coffee-beans.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 60vh;
    position: relative;
    transition: transform 0.3s ease;

}

.green-coffee-beans-robusta{
    background-image: url('/img/robusta-green-coffee.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 60vh;
    position:relative;
    transition: transform 0.3s ease;
}

.green-coffee-beans-arabica::before{
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.green-coffee-beans-robusta::before{
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.featured-product-section{
    background-color: #125A95;
}

.content-beans{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-beans{
    display: none;
}

.green-coffee-beans-arabica:hover .content-beans{
    display: block;
}

.green-coffee-beans-arabica:hover {
    transform: scale(1.05); 
}

.green-coffee-beans-robusta:hover {
    transform: scale(1.05); 
}

.green-coffee-beans-robusta:hover .content-beans{
    display: block;
}

.accordion-button:focus {
    box-shadow: none; 
    outline: none; 
}

.accordion-button:not(.collapsed) {
    background-color:  rgb(9, 44, 73); 
    color: white; 
}

.accordion-body{
    background-color: #f8f8f8;
}

@media screen and (max-width:767px){
    .containerku{
        height: 250px;
    }
}

.FAQ{
    min-height: 45vh;
}

.footer-seader{
    background-color: rgb(222, 233, 242);
    margin-bottom: 0;
}