@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 992px) { 
    .navbar-nav .nav-link.navbar1{
        color: white !important;
        font-size: 1.1rem; 
    }

    .navbar-nav .nav-link.navbar2{
        color: black !important;
        font-size: 1.1rem; 
    }
}

.navbar-nav .nav-link[aria-current="page"] {
    color: #009bb3 !important;
    text-decoration: underline #009bb3 0.3rem;
    text-underline-offset: 0.5rem;

}

.navbar-nav .nav-link:hover {
    cursor: pointer;
    color: #009bb3 !important;
}

